<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product added</title>
</head>
<body>
<h1>The product has been added successfully</h1>

<table>
  <tr>
    <th>ID </th>
    <th>    title   </th>
    <th> description</th>
  </tr>
  <tr th:each="p: ${product}" >
    <td th:text="${p.id}"></td>
    <td th:text="${p.title}"></td>
    <td th:text="${p.description}"></td>
  </tr>
</table>
<form action="/main" method="get">
  <button type="submit">go home</button>
</form>
</body>
</html>
